/* Style général de la bannière */
.banner-ifrma {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #ffffff;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

/* Effet de fond gris */
.banner-ifrma::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: grayscale(100%);
    z-index: 0;
}

/* Overlay semi-transparent */
.banner-ifrma::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(19, 41, 88, 0.6);
    opacity: 0.5;
    z-index: 1;
}

/* Style du titre */
h1 {
    z-index: 10;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */
}

/* Label stylisé pour l'input de fichier */
.file-label {
    display: inline-block;
    background-color: #1e88e5;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    margin: 10px 0;
}

.file-label:hover {
    background-color: #1565c0;
    transform: scale(1.05);
}

.file-label:active {
    transform: scale(0.95);
}

/* Cache le champ d'input réel */
.banner-ifrma input[type="file"] {
    display: none;
}

/* Prévisualisation de l'image de fond */
.banner-ifrma img {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

/* Prévisualisation de la vidéo */
.banner-ifrma video {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

/* Bouton de soumission stylisé */
.banner-ifrma button[type="submit"] {
    background-color: #43a047;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.banner-ifrma button[type="submit"]:hover {
    background-color: #388e3c;
    transform: scale(1.05);
}

.banner-ifrma button[type="submit"]:active {
    transform: scale(0.95);
}

/* Conteneur de la miniature vidéo */
.video-thumbnail {
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease;
}

.video-thumbnail:hover {
    transform: scale(1.05);
}

.play-button {
    opacity: 1;
    transition: opacity 0.3s ease;
}

@media (min-width: 768px) {
    .banner-ifrma {
        padding: 30px 60px;
    }
}

@media (min-width: 1024px) {
    .banner-ifrma {
        padding: 0px 80px;
    }
}

@media (min-width: 1440px) {
    .banner-ifrma {
        padding: 60px 120px;
    }
}
