#root {
  min-height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
}

.MuiBox-root{
  width: 100%;
}

@media (max-width: 600px) {
  .MuiBox-root {
    width: auto; /* Remove the 100% width on mobile devices */
  }
}