@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media (max-width: 990px) {
    flex-direction: column;
  }
}

.a {
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  color: var(--glow-color);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  width: 100%;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.a:hover {
  background: var(--glow-color);
  color: #050801;
  box-shadow: 0 0 5px var(--glow-color), 0 0 25px var(--glow-color),
    0 0 50px var(--glow-color), 0 0 200px var(--glow-color);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

// .a:nth-child(1) {
//     filter: hue-rotate(270deg);
// }

// .a:nth-child(2) {
//     filter: hue-rotate(110deg);
// }

.a span {
  position: absolute;
  display: block;
}

.a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--glow-color));
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--glow-color));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--glow-color));
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--glow-color));
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.spin {
  --w: 100px;
  --h: 100px;
  width: calc(var(--w) / 4);
  height: calc(var(--h) / 4);
  // position: absolute;
  // left: 50%;
  // top: 40%;
  // margin-left: -100px;
  border-radius: calc(var(--w) - var(--w) / 2);
  animation: spiner 4s;

  background: #000;
  color: #000;
  border: 2px dashed #F4D03F;

  animation-timing-function: linear;
  transform: rotate(240deg);
  animation-iteration-count: infinite;
}

@keyframes spiner {

  from {
    transform: rotate(360deg);
    border: 2px dashed #26a0da;
    box-shadow: 0px 0px 10px #26a0da, 0px 0px 40px#26a0da, 0px 0px 80px #26a0da;
    transition-delay: 0.2s;

  }

  to {
    transform: rotate(0deg);
    box-shadow: 0px 0px 10px #F4D03F, 0px 0px 40px#F4D03F, 0px 0px 80px #F4D03F;
    transition-delay: 1s;

  }
}